nav.mobile
	ul
		li #[a(href="/drive") #[span.icon.home]Home]
		li #[a(href="/drive/shared") #[span.icon.shared]Shared]
		li #[a(href="/drive/files") #[span.icon.drive]Files]
	.upload
		button.uploadBtn(type="button") #[span.icon.plus]
		ul.uploadList
			li #[button #[span.icon.uploadFile]Upload File] 
			li #[button #[span.icon.createFolder]Create Folder]
