header
	.logo
		a(href="/drive/files") #[h1 Drive]
	ul.features
		li.theme
			button(type="button", tabindex)
				.toggle
					span.icon(class=darkTheme ? "moon" : "sun")
					div
						div
		li #[button.account(type="button", tabindex) #[span.icon.user]]
	ul.dropdown
		li.theme
			button(type="button", tabindex)
				span.icon(class=darkTheme ? "moon" : "sun")
				span #{ darkTheme ? "Dark" : "Light" } mode
				.toggle
					div
						div
		li
			if user
				a(href="/account/logout") #[span.icon.logout] Logout
			else
				a(href="/account/login") #[span.icon.login] Login