nav.mobile
	ul
		li #[a(href="/drive") #[span.icon.home]Home]
		li #[a(href="/drive/shared") #[span.icon.shared]Shared]
		li #[a(href="/drive/files") #[span.icon.drive]Files]
	if files || shared
		.upload
			button.uploadBtn(type="button") #[span.icon.plus]
			ul.uploadList
				li #[a(href="/drive/files/create") #[span.icon.uploadFile]Upload File] 
				li #[a(href="/drive/folders/create") #[span.icon.createFolder]Create Folder]
