nav.mobile
	button.uploadBtn(type="button") #[span.icon.plus]
	ul
		li #[a(href="/drive") #[span.icon.home]Home]
		li #[a(href="/drive") #[span.icon.share]Shared]
		li #[a(href="/drive") #[span.icon.drive]Files]
