block content
	.shared
		h3 Shared
		ul.list
			li.item
				button.info(type="button")
					.icon.image
					.wrap
						p new image file
						.detail
							div
								span.icon.shareBy
								span test@drive.com
							div
								span.icon.date
								span Jan 9, 2024
				button.optionBtn(type="button") #[span.icon.options]
			li.item
				button.info(type="button")
					.icon.pdf
					.wrap
						p new pdf file
						.detail
							div
								span.icon.shareBy
								span user@gmail.com
							div
								span.icon.date
								span Aug 25, 2024
				button.optionBtn(type="button") #[span.icon.options]
