.error {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 5%;
	row-gap: 10px;
	text-align: center;
	color: var(--light-scheme-error);
}

.alert {
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000' d='M18 2.5c-8.82 0-16 6.28-16 14s7.18 14 16 14a18 18 0 0 0 4.88-.68l5.53 3.52a1 1 0 0 0 1.54-.84v-6.73a13 13 0 0 0 4-9.27C34 8.78 26.82 2.5 18 2.5m10.29 22.11a1 1 0 0 0-.32.73v5.34l-4.38-2.79a1 1 0 0 0-.83-.11a16 16 0 0 1-4.76.72c-7.72 0-14-5.38-14-12s6.28-12 14-12s14 5.38 14 12a11.08 11.08 0 0 1-3.71 8.11' class='clr-i-outline clr-i-outline-path-1'/%3E%3Cpath fill='%23000' d='M18 20.63a1 1 0 0 0 1-1V8.48a1 1 0 1 0-2 0v11.13a1 1 0 0 0 1 1.02' class='clr-i-outline clr-i-outline-path-2'/%3E%3Ccircle cx='18' cy='24.04' r='1.33' fill='%23000' class='clr-i-outline clr-i-outline-path-3'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
	width: var(--icon-size-desktop);
	height: var(--icon-size-desktop);
}

.error > a {
	margin-top: 15px;
	border: 1px solid var(--light-scheme-color);
	padding: 10px 15px;
	border-radius: 10px;
	background-color: var(--light-scheme-layout-bgc);
}

/* Dark scheme classes */

.dark .error {
	color: var(--dark-scheme-error);
}

.dark .error > a {
	border-color: var(--dark-scheme-color);
	background-color: var(--dark-scheme-layout-bgc);
}

/* Pseudo classes */
.error > a:hover {
	color: var(--dark-scheme-color);
	background-color: var(--dark-scheme-layout-bgc);
}

/* Media queries */
