.fileForm {
	display: flex;
	flex-direction: column;
	padding: 5%;
	row-gap: 15px;
}

.fileForm .formContainer {
	border: 0;
}

.fileForm label {
	align-items: center;
	justify-content: center;
}

.fileForm label .image {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-self: center;
	row-gap: 10px;
	height: 25vh;
	width: 25vh;
	cursor: pointer;
	border: 1px solid var(--light-scheme-color);
	border-style: dashed;
}

.fileForm label .image > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 20px;
	height: 100%;
}

.fileForm label .image img {
	border-radius: 20px;
	display: none;
	object-fit: cover;
	height: 100%;
}

.fileForm label .image.preview img {
	display: block;
}

.fileForm label .image.preview > div {
	display: none;
}

.fileForm .outline {
	--size: var(--icon-size-desktop);
	height: var(--size);
	width: var(--size);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m14 2l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2zm4 18V9h-5V4H6v16zm-1-7v6H7l5-5l2 2m-4-5.5A1.5 1.5 0 0 1 8.5 12A1.5 1.5 0 0 1 7 10.5A1.5 1.5 0 0 1 8.5 9a1.5 1.5 0 0 1 1.5 1.5'/%3E%3C/svg%3E");
}

.fileForm .preview {
	--size: 100%;
	height: var(--size);
	width: var(--size);
}

.fileForm .description {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 5px;
}

/* Dark scheme classes */

.dark .fileForm label .image {
	border-width: 2px;
	border-color: var(--dark-scheme-color);
}
