footer {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	padding: 10px 15px;
	align-items: center;
	background-color: var(--light-scheme-layout-bgc);
	box-shadow: 0px -5px 5px 1px var(--light-scheme-layout-shadow);
}

footer a {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

address a em {
	text-decoration: underline;
	text-underline-offset: 3px;
}

.email {
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000' d='M32 6H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h28a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2m-1.54 22H5.66l7-7.24l-1.44-1.39L4 26.84V9.52l12.43 12.37a2 2 0 0 0 2.82 0L32 9.21v17.5l-7.36-7.36l-1.41 1.41ZM5.31 8h25.07L17.84 20.47Z' class='clr-i-outline clr-i-outline-path-1'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
	width: var(--icon-size-desktop);
	height: var(--icon-size-desktop);
}

.github {
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2'/%3E%3C/svg%3E");
	width: var(--icon-size-mobile);
	height: var(--icon-size-mobile);
}

/* Dark scheme classes */

.dark footer.content {
	background-color: var(--dark-scheme-layout-bgc);
	box-shadow: none;
	border-top: 1px solid var(--dark-scheme-color);
	color: var(--dark-scheme-color);
}
.dark footer.content a {
	color: var(--dark-scheme-color);
}

.dark footer a:hover {
	color: var(--dark-scheme-highlight);
}

/* Pseudo classes */

footer a:hover {
	color: var(--light-scheme-highlight);
}
