header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--light-scheme-layout-bgc);
	box-shadow: 0px 5px 5px 1px var(--light-scheme-layout-shadow);
	z-index: 1;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
}

.menu {
	--horizontal-lines: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 5px;
	padding: 10px;
	height: 100%;
	min-width: 80px;
}

.menu > div {
	width: var(--icon-size-desktop);
	height: var(--icon-size-desktop);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.menu > div .line {
	width: 100%;
	height: var(--horizontal-lines);
	background-color: var(--light-scheme-color);
	transition:
		all 0.3s ease,
		background-color 0s;
}
.menu.active > div {
	justify-content: center;
}
.menu.active > div .line:nth-child(1) {
	transform: translateY(var(--horizontal-lines)) rotate(-45deg);
}
.menu.active > div .line:nth-child(2) {
	opacity: 0;
}
.menu.active > div .line:nth-child(3) {
	transform: translateY(calc(0px - var(--horizontal-lines))) rotate(45deg);
}

header > nav {
	position: absolute;
	top: 100%;
	left: 0;
	border: 2px solid var(--light-scheme-layout-shadow);
	border-left: 0;
	background-color: var(--light-scheme-layout-bgc);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
}

.menu.active + nav {
	transform: translateX(0%);
	transition: transform 0.1s ease;
}

header > nav ul {
	display: flex;
	flex-direction: column;
}

header > nav li:not(:last-of-type) {
	border-bottom: 2px solid var(--light-scheme-layout-shadow);
}

header > nav a {
	display: flex;
	align-items: center;
	column-gap: 10px;
	padding: 15px 10px;
}

.home {
	--size: var(--icon-size-desktop);
	height: var(--size);
	width: var(--size);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='208' height='208' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M80 212v236a16 16 0 0 0 16 16h96V328a24 24 0 0 1 24-24h80a24 24 0 0 1 24 24v136h96a16 16 0 0 0 16-16V212'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M480 256L266.89 52c-5-5.28-16.69-5.34-21.78 0L32 256m368-77V64h-48v69'/%3E%3C/svg%3E");
}
.drive {
	--size: var(--icon-size-desktop);
	height: var(--size);
	width: var(--size);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='208' height='208' viewBox='0 0 2048 2048'%3E%3Cpath fill='%23000' d='M1664 1536h-128v-128h128zm-256 0h-128v-128h128zm256-512h-128V896h128zm-256 0h-128V896h128zm320-896q40 0 75 15t61 41t41 61t15 75v1472H128V320q0-40 15-75t41-61t61-41t75-15zm64 1152H256v384h1536zm0-512H256v384h1536zm0-128V320q0-26-19-45t-45-19H320q-26 0-45 19t-19 45v320zm-256-256h128v128h-128zm-256 0h128v128h-128z'/%3E%3C/svg%3E");
}
.share {
	--size: var(--icon-size-desktop);
	height: var(--size);
	width: var(--size);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='208' height='208' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M2 11c2.332-2.442 5.643-2.557 8 0M8.495 4.5c0 1.38-1.12 2.5-2.503 2.5a2.5 2.5 0 0 1-2.504-2.5c0-1.38 1.12-2.5 2.504-2.5a2.5 2.5 0 0 1 2.503 2.5M14 22c2.332-2.442 5.643-2.557 8 0m-1.505-6.5c0 1.38-1.12 2.5-2.504 2.5a2.5 2.5 0 0 1-2.503-2.5c0-1.38 1.12-2.5 2.503-2.5a2.5 2.5 0 0 1 2.504 2.5M3 14c0 3.87 3.13 7 7 7l-1-2m6-16h6m-6 3h6m-6 3h3.5' color='%23000'/%3E%3C/svg%3E");
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo h1 {
	color: var(--light-scheme-highlight);
}

.features {
	height: 100%;
	display: flex;
}

.features li {
	height: 100%;
	min-width: 80px;
}
.features li > * {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 5px;
	padding: 10px;
	height: 100%;
}

.features .theme {
	display: none;
}

.toggle {
	--toggle-width: 35px;
	--toggle-padding: 2px;
	--toggle-border: 2px;
	--toggle-slide: calc(var(--toggle-width) / 3);
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.toggle > div {
	display: flex;
	align-items: center;
	height: calc(
		var(--toggle-width) / 2 +
			calc(var(--toggle-padding) + calc(var(--toggle-border) * 2) + 2px)
	);
	width: calc(var(--toggle-width) + var(--toggle-slide));
	border-radius: var(--toggle-width);
	background-color: var(--light-scheme-highlight);
	border: var(--toggle-border) solid var(--light-scheme-color);
	position: relative;
	padding: 0 var(--toggle-padding);
}

.toggle > div > div {
	transform: translateX(0%);
	border: 2px solid var(--light-scheme-color);
	background-color: var(--light-scheme-layout-bgc);
	border-radius: 100%;
	height: calc(var(--toggle-width) / 2);
	width: calc(var(--toggle-width) / 2);
	transition: transform 0.3s ease;
}

.sun {
	--size: var(--icon-size-desktop);
	height: var(--size);
	width: var(--size);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 5V3m0 18v-2M7.05 7.05L5.636 5.636m12.728 12.728L16.95 16.95M5 12H3m18 0h-2M7.05 16.95l-1.414 1.414M18.364 5.636L16.95 7.05M16 12a4 4 0 1 1-8 0a4 4 0 0 1 8 0'/%3E%3C/svg%3E");
}

.moon {
	--size: var(--icon-size-desktop);
	height: var(--size);
	width: var(--size);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3zm3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95zm-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31'/%3E%3C/svg%3E");
}

.user {
	--size: var(--icon-size-desktop);
	height: var(--size);
	width: var(--size);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.196 17.485q1.275-.918 2.706-1.451Q10.332 15.5 12 15.5t3.098.534t2.706 1.45q.99-1.025 1.593-2.42Q20 13.667 20 12q0-3.325-2.337-5.663T12 4T6.337 6.338T4 12q0 1.667.603 3.064q.603 1.396 1.593 2.42m5.805-4.984q-1.264 0-2.133-.868T9 9.501t.868-2.133T12 6.5t2.132.868T15 9.5t-.868 2.132t-2.131.868M12 21q-1.883 0-3.525-.701t-2.858-1.916t-1.916-2.858T3 12t.701-3.525t1.916-2.858q1.216-1.215 2.858-1.916T12 3t3.525.701t2.858 1.916t1.916 2.858T21 12t-.701 3.525t-1.916 2.858q-1.216 1.215-2.858 1.916T12 21m0-1q1.383 0 2.721-.484q1.338-.483 2.313-1.324q-.974-.783-2.255-1.237T12 16.5t-2.789.445t-2.246 1.247q.975.84 2.314 1.324T12 20m0-8.5q.842 0 1.421-.579T14 9.5t-.579-1.421T12 7.5t-1.421.579T10 9.5t.579 1.421T12 11.5m0 6.75'/%3E%3C/svg%3E");
}

.dropdown {
	position: absolute;
	top: 100%;
	right: 0;
	border: 2px solid var(--light-scheme-layout-shadow);
	border-right: 0;
	background-color: var(--light-scheme-layout-bgc);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	transform: translateX(100%);
	transition: transform 0.3s ease;
}

.features.active + .dropdown {
	transform: translateX(0%);
	transition: transform 0.1s ease;
}

.dropdown li > * {
	display: flex;
	align-items: center;
	column-gap: 10px;
	padding: 10px;
	width: 100%;
}

.login {
	--size: var(--icon-size-desktop);
	height: var(--size);
	width: var(--size);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 21v-2h7V5h-7V3h7q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm-2-4l-1.375-1.45l2.55-2.55H3v-2h8.175l-2.55-2.55L10 7l5 5z'/%3E%3C/svg%3E");
}

.logout {
	--size: var(--icon-size-desktop);
	height: var(--size);
	width: var(--size);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h7v2zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z'/%3E%3C/svg%3E");
}

/* Dark scheme classes */
.dark .menu > div .line {
	background-color: var(--dark-scheme-color);
}

.dark header {
	background-color: var(--dark-scheme-layout-bgc);
	box-shadow: none;
	border-bottom: 1px solid var(--dark-scheme-color);
}

.dark .logo h1 {
	color: var(--dark-scheme-highlight);
}

.dark .toggle > div {
	background-color: var(--dark-scheme-switch-bgc);
	border-color: var(--dark-scheme-color);
}

.dark .toggle > div > div {
	border: 2px solid var(--dark-scheme-color);
	background-color: var(--dark-scheme-layout-bgc);
	transform: translateX(
		calc(
			100% - calc(var(--toggle-padding) * 2) + var(--toggle-slide) -
				calc(var(--toggle-border) * 2)
		)
	);
}
