.file {
	padding: 20px;
}

.file .fileList {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	row-gap: 30px;
	padding: 0 10px;
}

.file .fileItem {
	position: relative;
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.file .info {
	display: flex;
	align-items: center;
	column-gap: 10px;
	flex: 1 1 100%;
}

.file .wrap {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	flex: 1 1 100%;
}

.file .wrap > p {
	max-width: 0;
	min-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 1rem;
	flex: 1 1 100%;
	text-align: left;
}

.file .detail {
	--detail-size: 12px;
	display: flex;
	column-gap: 10px;
}

.file .detail > div {
	display: flex;
	column-gap: 5px;
}

.file .detail > div > span {
	font-size: var(--detail-size);
	font-weight: 300;
}

.file .image {
	flex: 1 0 auto;
	--size: var(--icon-size-desktop);
	height: var(--size);
	width: var(--size);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M5 3h13a3 3 0 0 1 3 3v13a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3m0 1a2 2 0 0 0-2 2v11.59l4.29-4.3l2.5 2.5l5-5L20 16V6a2 2 0 0 0-2-2zm4.79 13.21l-2.5-2.5L3 19a2 2 0 0 0 2 2h13a2 2 0 0 0 2-2v-1.59l-5.21-5.2zM7.5 6A2.5 2.5 0 0 1 10 8.5A2.5 2.5 0 0 1 7.5 11A2.5 2.5 0 0 1 5 8.5A2.5 2.5 0 0 1 7.5 6m0 1A1.5 1.5 0 0 0 6 8.5A1.5 1.5 0 0 0 7.5 10A1.5 1.5 0 0 0 9 8.5A1.5 1.5 0 0 0 7.5 7'/%3E%3C/svg%3E");
}
.file .pdf {
	flex: 1 0 auto;
	--size: var(--icon-size-desktop);
	height: var(--size);
	width: var(--size);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M8.654 12.385h.769v-2h1.23q.33 0 .55-.22t.22-.55v-1.23q0-.33-.22-.55t-.55-.22h-2zm.769-2.77v-1.23h1.23v1.23zm3.039 2.77h1.923q.329 0 .549-.22t.22-.55v-3.23q0-.33-.22-.55t-.55-.22h-1.923zm.769-.77v-3.23h1.154v3.23zm3.154.77h.769v-2h1.385v-.77h-1.385v-1.23h1.385v-.77h-2.154zM8.115 17q-.69 0-1.152-.462T6.5 15.385V4.615q0-.69.463-1.153T8.116 3h10.769q.69 0 1.153.462t.462 1.153v10.77q0 .69-.462 1.152T18.884 17zm0-1h10.77q.23 0 .423-.192t.192-.423V4.615q0-.23-.192-.423T18.884 4H8.116q-.231 0-.424.192t-.192.423v10.77q0 .23.192.423t.423.192m-3 4q-.69 0-1.153-.462T3.5 18.385V6.615h1v11.77q0 .23.192.423t.423.192h11.77v1zM7.5 4v12z'/%3E%3C/svg%3E");
}

.file .date {
	height: var(--detail-size);
	width: var(--detail-size);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M8 13.885q-.31 0-.54-.23t-.23-.54t.23-.539t.54-.23t.54.23t.23.54t-.23.539t-.54.23m4 0q-.31 0-.54-.23t-.23-.54t.23-.539t.54-.23t.54.23t.23.54t-.23.539t-.54.23m4 0q-.31 0-.54-.23t-.23-.54t.23-.539t.54-.23t.54.23t.23.54t-.23.539t-.54.23M5.616 21q-.691 0-1.153-.462T4 19.385V6.615q0-.69.463-1.152T5.616 5h1.769V3.308q0-.233.153-.386t.385-.153t.386.153t.153.386V5h7.154V3.27q0-.214.143-.358t.357-.143t.356.143t.144.357V5h1.769q.69 0 1.153.463T20 6.616v12.769q0 .69-.462 1.153T18.384 21zm0-1h12.769q.23 0 .423-.192t.192-.424v-8.768H5v8.769q0 .23.192.423t.423.192'/%3E%3C/svg%3E");
}

.file .size {
	height: var(--detail-size);
	width: var(--detail-size);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 11l4 4h-2.5v3h-3v-3h-2.5Z'/%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M13.5 3l5.5 5.5v11.5c0 0.55 -0.45 1 -1 1h-12c-0.55 0 -1 -0.45 -1 -1v-16c0 -0.55 0.45 -1 1 -1Z'/%3E%3Cpath d='M14.5 3.5l0 4.5l4.5 0z'/%3E%3C/g%3E%3C/svg%3E");
}

.file .options {
	flex: 1 0 auto;
	--size: var(--icon-size-desktop);
	height: var(--size);
	width: var(--size);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 14a2 2 0 1 0 0-4a2 2 0 0 0 0 4m-6 0a2 2 0 1 0 0-4a2 2 0 0 0 0 4m12 0a2 2 0 1 0 0-4a2 2 0 0 0 0 4'/%3E%3C/svg%3E");
}
