.userForm {
	display: flex;
	flex-direction: column;
	padding: 5%;
	row-gap: 15px;
}

.linkWrap {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	align-items: center;
}

.linkWrap a {
	color: var(--light-scheme-highlight);
	text-decoration: underline dotted var(--light-scheme-highlight) 2px;
	text-underline-offset: 3px;
}

/* Dark scheme classes */

.dark .linkWrap a {
	color: var(--dark-scheme-highlight);
	text-decoration-color: var(--dark-scheme-highlight);
}
